## Notebook Content

In this notebook we create the second dataset (dataset2.pkl) that contains the preprocessed node attributes (dataset1.pkl) and the following statistical features derived from them:
1. Followers quantile
2. Following quantile
3. Total_tweets quantile
4. List quantile
5. Twitter age quantile

In [9]:
import pandas as pd
from dataprep.eda import create_report

In [10]:
preprocessed_node_attributes = pd.read_pickle('data/node_attributes_preprocessed.pkl')
preprocessed_node_attributes

,followers,following,total_tweets,lists,twitter_age,verified,party
0,166,158,1547,0,3061,0,left
1,11593,3234,133817,39,1463,0,left
3,390,423,11046,6,999,0,middle
4,4428,1406,40478,19,517,0,right
5,1506,729,165786,2,1779,0,right
...,...,...,...,...,...,...,...
24597,154,158,4034,0,325,0,left
24598,490,853,2123,5,835,0,left
24600,520,520,16610,1,2610,0,neutral
24601,3,42,14,0,355,0,middle
24602,20,76,552,0,790,0,left

In [11]:
columns = ['followers', 'following', 'total_tweets', 'lists', 'twitter_age']
for col in columns:
    preprocessed_node_attributes["%s_quantile"%col] = pd.qcut(preprocessed_node_attributes[col].rank(method='first'), [0, .25, .75, 1], labels=["low", "medium", "high"])
    preprocessed_node_attributes["%s_quantile"%col].replace(to_replace=['low', 'medium', 'high'], value=[0, 1, 2], inplace=True)
preprocessed_node_attributes

,followers,following,total_tweets,lists,twitter_age,verified,party,followers_quantile,following_quantile,total_tweets_quantile,lists_quantile,twitter_age_quantile
0,166,158,1547,0,3061,0,left,1,0,1,0,1
1,11593,3234,133817,39,1463,0,left,2,2,2,2,1
3,390,423,11046,6,999,0,middle,1,1,1,1,1
4,4428,1406,40478,19,517,0,right,2,2,2,2,0
5,1506,729,165786,2,1779,0,right,2,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
24597,154,158,4034,0,325,0,left,1,0,1,1,0
24598,490,853,2123,5,835,0,left,1,1,1,1,1
24600,520,520,16610,1,2610,0,neutral,1,1,1,1,1
24601,3,42,14,0,355,0,middle,0,0,0,1,0
24602,20,76,552,0,790,0,left,0,0,0,1,1

In [12]:
preprocessed_node_attributes.to_pickle('data/dataset2.pkl')

In [13]:
create_report(preprocessed_node_attributes).show_browser()

  0%|          | 0/1617 [00:00<?, ?it/s]